
<table class="table table-striped">
	<thead>
		<tr>
			<th>Department Name</th>
			<th/>
		</tr>
	</thead>
	<tbody>
		<% @departments.each do |dept| %>
			<tr>
				<td><%= dept.name %></td>
				<td><%= link_to 'Edit', edit_department_path(dept.id) %> | <%= link_to 'Delete', department_path(dept.id), method: :delete, data: {confirm: "Are you sure you want to delete this department?"} %>
			</tr>
		<% end %>
		<tr>
			<td colspan="2"><%= link_to 'New Department', new_department_path , class: "pull-right"%></td>
		</tr>
	</tbody
</table>